<center><h1><%= @comedian.name %></h1></center>
<br>
<br>
<h3>Average runtime of this comedian's specials:</h3>
<% if @comedian.can_average? %>
    <li><%= @comedian.average_special_runtime %> minutes</li>
<% else %>
  <p>We don't have any data...</p>
<% end %>
